[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/NexusBayArea/lostbobo.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/NexusBayArea/SimHPC.git
